<div class="container">
  <a routerLink="portfolio">
    <h1 appHeaderText [text]="title"></h1>
  </a>
  <div class="row">
    <article class="blog-post blog-postName col-xs-12 col-sm-6 col-md-4 col-lg-3 text-center">
      <a href="postUrl" class="fc" id="fc">
        <div class="fc__wrapper">
          <img src="../../../../../assets/images/post_covers/post1.png" class="fc__thumb"
               data-gradient-map="#222 25%, #FF7E79">
          <div class="fc__content text-left">
            <h1>sollenne.com</h1>
            <span class="caption">2018</span>
          </div>
          <span class="fc__light"></span>
          <svg class="fc__border" xmlns="http://www.w3.org/2000/svg">
            <rect height="100%" width="100%" />
          </svg>
        </div>
      </a>
    </article>

    <article class="blog-post blog-postName col-xs-12 col-sm-6 col-md-4 col-lg-3 text-center">
      <a href="postUrl" class="fc" id="fc">
        <div class="fc__wrapper">
          <img src="../../../../../assets/images/post_covers/sendbot.png" class="fc__thumb"
               data-gradient-map="#222 25%, #FF7E79">
          <div class="fc__content text-left">
            <h1>MoneyGram Sendbot</h1>
            <span class="caption">2017</span>
          </div>
          <span class="fc__light"></span>
          <svg class="fc__border" xmlns="http://www.w3.org/2000/svg">
            <rect height="100%" width="100%" />
          </svg>
        </div>
      </a>
    </article>
  </div>

</div>

