
header {
  background: rgba(0, 0, 0, 0.87);
  border-bottom-color: rgb(0, 0, 0);
  min-height: 50px;
  margin-bottom: 20px;

  // header links
  ul.headerLinks {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      float: right;

      &.home-link {
        float: none !important;

        a {
          font-size: 1.2rem;
        }
      }

      a {
        color: #fff;
        height: 50px;
        line-height: 50px;
        font-size: 12px;
      }
    }
  }
}
