@import '~bootstrap/dist/css/bootstrap.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);

html {
  -moz-osx-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;

  body {
    margin: 0;
    font-family: Ubuntu, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Cantarell, "Open Sans", sans-serif;
    font-size: 14px;

    a {
      font-family: 'Ubuntu', sans-serif !important;
      font-weight: 400 !important;
      text-decoration: none;
    }

    section {
      min-height: 500px;
      padding: 0;
      position: relative;
      z-index: 0;
      overflow: hidden;

      &.section-gray {
        background: #f6f8f8;
        border-top: 1px solid #e0e5e6;
        border-bottom: 1px solid #e0e5e6;
      }

      &.section-white {
        background: #ffffff;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
      }
    }

  }

}
